<div class="container">
  <div class="introduction-body my-5 p-4">
    <div class="introduction-head">
      <h1>Library map for studiesとは</h2>
    </div>
    <div class="introduction-content">
      <p>Library map for studiesとは勉強を目的とした人のための図書館情報サイトです。<br>
      皆さんは勉強する時、できれば図書館でしたいと思うことも多いのではないでしょうか？<br>
      しかし図書館によって、勉強できる席があったりなかったりすると思います。<br>
      そこでLibrary map for studiesでは図書館ごとに勉強できるかどうか一目で分かるようにまとめました。<br>
      ぜひ、Library map for studiesを使って、理想の図書館を見つけてください。<br>
      また、このサイトにある図書館の情報は皆さんの投稿によって支えられてます。<br>
      ぜひたくさんの情報をいただけると幸いです。
      </p>
    </div>
  </div>
</div>


  
