/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 //common
 body {
  min-height: 100vh;
  box-sizing: border-box;
  color: #333333;
  position:relative;
  display: flex;
  flex-flow: column;
}
.notifications{
  text-align: center;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover,.nav-link:hover{
  color: skyblue;
}
.container{
  flex:1;
}

//header
.header-logo{
  color:#fff;
  font-size: 35px;
}
.navbar-toggler{
  border-color:#fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item{
  display:flex;
  align-items: center;
}
.nav-link{
  color:#fff;
  font-size: 15px;
}
.header-host-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.required-a::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

//footer
.footer {
  width: 100%;
  height: 80px;
  background-color: #111;
  color: #fff;
  position:relative;
}
.footer p{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
