//libraries common
.library-register-box{
  border:1px solid #000;
  border-radius:10px;
  margin-right:auto;
  margin-left:auto;
}
.register-heading{
  text-align: center;
}

//libraries index page
.page-head{
  font-weight: bold;
}
.search-form{
  display: inline-flex;
}

//libraries show page
.library-show{
  padding: 30px 0;
}
.library-image{
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}
.library-info-heading span{
  background-color: #000;
  border-radius: 20px;
  color:#fff;
}
.library-info{
  width: 100%;
}
.library-info th,
.library-info td{
  border: 2px solid #000;
  padding:10px;
}
.library-info th{
  width: 30%;
}
.user-info{
  border: 1px solid rgb(235, 232, 235);
  padding-top:30px;
  border-radius: 20px;
  text-align: center;
}
.user-info-heading p span,
.admin-authority p span,
.comment-sending p span{
  background: #000;
  border-radius:20px;
  color:#fff;
}
.host-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.user-name{
  font-size: 18px;
}
#library-map{
  height: 200px;
}
