//top page
.top .top-main {
  background-image: image-url("top_page_image.jpg");   
  background-size: cover;
  width: 100%;
  height: 700px;
}
#gmap{
  background-color: #000;
  color: #fff;
  text-align: center;
}
#gmap h2{
  margin-bottom: 0px;
}
#map{
  height: 700px;
}

//introduction page
.introduction-body{
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: snow;
}
.introduction-head{
  color: orange;
}
.introduction-content{
  line-height: 3em;
  font-size: 1.1rem;
  font-weight: bold;
}

//profile page
.user-libraries{
  padding-top:30px;
}
.no-library-notice{
  color:red;
}
.registerd-libraries{
  padding: 30px 50px;
}
.libraries-frame-inner{
  border:1px solid #000;
  margin-bottom:10px;
}
.libraries-image-frame{
  position: relative;
  width: 100%;
  background: #F6F8F9;
  height: 200px;
}
.libraries-image{
  width: 100%;
  height: 180px;
  position: absolute;
  top: 20px;
  object-fit: cover;
}
.libraries-information{
  width: 100%;
}
.libraries-name{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.libraries-address{
  font-size: 16px;
  font-weight: bold;
  color:#909090;
}
.delete-link{
  color: red;
}
